.listing-content {
    h5 {
        text-align: center;
        font-weight: 500;
    }
}

.image-view{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("assets/images/hub.png");
    height: 100%;
    width: 100%;
}