<div>
  <div class="listing-content">
    <div class="card listing">
      <div class="listing-head pt-1">
        <h5 class="mb-1">{{listing.name}}</h5>
      </div>

      <div class="listing-body card-image card-background " [ngStyle]="{'height': '135px', 'width': '100%' }">
        <div class="image-view"></div>
      </div>

      <div class="overlay">
          <div class="row ml-0 col-md-12 pt-4">
            <div class="mx-auto">
              <a class="p-button mt-3">
                <span>Live Demo</span>
              </a>
            </div>
            <div class="mx-auto">
              <a class="p-button mt-3">
                <span>More Infor</span>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
