.contact-head {
    height: 250px;
    background: linear-gradient(to right, #82A2F9 0%, #C499F5 100%);

    h3, p {
        color: white;
    }
}

.drop-devider {
    height: 5vh;
  }

.container-bg {
    width: 100%;
    background-color: #f2f7fb;
}