<div class="page-header page-header-small">
  <div class="page-header-image rellax-header bg-gardient" data-rellax-speed="-8">
  </div>

  <div class="content-center row mx-auto">
    <div class="col-lg-6 col-12">
      <div class="get-started">
        <h1 class="title">Premium Themes</h1>
        <h3>Join 500,000 customers and get access to WP themes, Plugins, UI designs & more for the price of one theme
          from
          anywhere else!</h3>

        <div>
          <a class="pt-button light">
            <span>Get Started</span>
          </a>
        </div>
      </div>

    </div>

    <div class="col-lg-6 col-12 res-img">
      <img src="assets/images/slider_image.png" alt="">
    </div>

  </div>
  <!-- <div class="text-center">
      <a class="btn btn-primary btn-icon  btn-round" href="#pablo">
        <i class="fab fa-facebook-square"></i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="btn btn-primary btn-icon btn-round" href="#pablo">
        <i class="fab fa-google-plus"></i>
      </a>
    </div> -->
</div>
<app-technology></app-technology>

<div class="drop-devider"></div>

<div class="row listing-op ml-0">
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="title-op col-12 my-auto">
            <p class="tons">This Wooks Hand Picked Items</p>
            <p class="tons-title">Featured Templates of The Week</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-sm-12 px-3 mb-2 " *ngFor="let listing of listings">
          <listing [listing]=listing></listing>
        </div>
        <a class="p-button mx-auto my-auto">
          <span>Browser Themes</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="drop-devider"></div>

<div class="container-bg">
  <div class="container">
    <div class="row">
      <app-matters class="matters"></app-matters>
    </div>
  </div>
</div>

<div class="drop-devider"></div>

<div class="container w-100">
  <div class="row">
    <app-tips class="w-100"></app-tips>
  </div>
</div>

<div class="drop-devider"></div>

