//  Footer 
.footer-custome {
  background-image: linear-gradient(270deg, #8982f6 0%, #9a9edc 50%, #8982f6 100%);  font-family: 'Montserrat';
  padding: 0;

  .btn {
    margin: 0;
    text-align: left;
  }
}

// subscribe
#subscribe {
  min-height: 150px;
  width: 100vw;
  position: relative;
  background-color: inherit;
}

#middle {
  &>div {
    padding: 35px;
    height: 100%;
  }

  p {
    height: 40px;
  }
}

// form input
.input-group {
  border-radius: 25px;
  box-shadow: 0 0 20px 0px #888888;

  input {
    border-radius: 25px 0px 0px 25px;
    cursor: text;

    &:focus {
      border: none;
    }

    &::placeholder {
      opacity: 1;
      color: #111111;
    }
  }

  button {
    border-radius: 0px 25px 25px 0px;
    background-image: linear-gradient(to right, #43BFDA, #82AED5) !important;
  }
}

//  Group and Link
.main-footer {
  position: relative;
  display: grid;
  grid-template-columns: 150px auto 150px;
  
}
.round {
  height: 100px;
  width: 100px;
  background: #ada8fa;
}

.left_top {
  border-radius: 0% 100% 100% 0% / 30% 100% 0% 70%;
}

.left_bot {
  border-radius: 0% 100% 100% 0% / 30% 0% 100% 70%;
}

.right_top {
  border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
}

.right_bot {
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
}

.round_border {
  height: 130px;
  width: 130px;
  border: 1px solid #ada8fa;
  display: flex;
  position: relative;
}

.f_left_top {
  border-radius: 0% 100% 100% 0% / 30% 100% 0% 70%;
  align-items: flex-end;
  border-bottom: none;
}

.f_left_bot {
  border-radius: 0% 100% 100% 0% / 30% 0% 100% 70%;
  align-items: flex-start;
  border-top: none;
}

.f_right_top {
  border-radius: 100% 0% 0% 100% / 100% 0% 100% 0%;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: none;
}

.f_right_bot {
  border-radius: 100% 0% 0% 100% / 0% 0% 100% 100%;
  align-items: flex-start;
  justify-content: flex-end;
  border-top: none;
}

.foot_left {
  display: flex;
  align-items: center;
}

.foot_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.round_chid_left {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #9399f5;
  background-image: linear-gradient(132deg, #9399f5 0%, #bb96f5 100%);
  z-index: 2;
}

.rtop {
  top: -5px;
  right: 15px;
}

.rcenter {
  top: calc(50% - 10px);
  left: -9px;
}

.rbottom {
  bottom: -5px;
  right: 15px;
}

.ltop {
  top: -5px;
  left: 15px;
}

.lcenter {
  top: calc(50% - 10px);
  right: -9px;
}

.lbottom {
  bottom: -5px;
  left: 15px;
}

.ct {
  position: relative;
}
#links {
  padding-top: 145px;
  padding-bottom: 130px;
}

.list-group>.link,
.link>a {
  color: #d6d4f4;
  font-size: 12px;
  margin-bottom: 8px;
  display: block;
}

.link>a:hover {
  color: #efeffa;
}

.list-group {
  &>.link:first-child {
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &>.link a {
    padding: 0;
    text-transform: none;
  }
}

@media (min-width:768px) {
  #inner {
    top: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
    right: 0;

  }

  #middle {
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 20px 0px #888888;
    border-radius: 15px;
  }

}

@media (max-width: 767px) {
  #inner {
    position: static;
    right: 0;
    top: 0;
    .col {
      padding: 0;
    }
  }

  #middle div p {
    text-align: center
  }
}

@media (max-width: 575px) {
  .list-group {
    width: 50%;
    margin: auto;
    padding-left: 40px;
  }

  .col-sm-6 {
    padding: 0;
  }
}