<footer class="footer footer-default w-100 footer-custome">
  <div class="w-100" style="background-color: #ffffff">
    <div id="subscribe" class="container">
      <div id="inner" class="row my-auto justify-content-center">
        <div id="middle" class="col ">
          <div class="fluid-container row align-items-center">
            <div class="email-text d-block col-lg-6">
              <p>
                Velit irure esse tempor sint laborum labore quis irure duis pariatur culpa.
              </p>
            </div>
            <div class="col-lg-6">
              <div id="form h-100" style="height: 100%">
                <div class="input-group mb-0">
                  <input class="btn btn-default form-control" name="email" id="email" type="email" placeholder="Type Your Email"
                    required>
                  <button class="btn" type="submit">
                    <i class="fa fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-100 .main-footer">
    <div id="links" class="container">
      <div class="row justify-content-around footer-links">
        <div class="col-md-3 col-sm-6 ">
          <ul class="list-group  d-block">
            <li class="link">Browser Categories</li>
            <li class="link"><a href="#" target="_blank">WordPress Themes</a></li>
            <li class="link"><a href="#" target="_blank">HTML5 Templates</a></li>
            <li class="link"><a href="#" target="_blank">UI Design (PSD)</a></li>
            <li class="link"><a href="#" target="_blank">Free Downloads</a></li>
            <li class="link"><a href="#" target="_blank">1 Click Install</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 ">
          <ul class="list-group  d-block">
            <li class="link">How To Buy</li>
            <li class="link"><a href="#" target="_blank">Explore Products</a></li>
            <li class="link"><a href="#" target="_blank">Create Accounts</a></li>
            <li class="link"><a href="#" target="_blank">Sign In</a></li>
            <li class="link"><a href="#" target="_blank">Payments</a></li>
            <li class="link"><a href="#" target="_blank">FAQ</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 ">
          <ul class="list-group  d-block">
            <li class="link">Features</li>
            <li class="link"><a href="#" target="_blank">1 Click Install</a></li>
            <li class="link"><a href="#" target="_blank">Custom Illustration</a></li>
            <li class="link"><a href="#" target="_blank">Stock Footage</a></li>
            <li class="link"><a href="#" target="_blank">Mockups</a></li>
            <li class="link"><a href="#" target="_blank">Mobile First</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 ">
          <ul class="list-group  d-block">
            <li class="link">Help & Support</li>
            <li class="link"><a href="#" target="_blank">Contact Us</a></li>
            <li class="link"><a href="#" target="_blank">About Us</a></li>
            <li class="link"><a href="#" target="_blank">Blog</a></li>
            <li class="link"><a href="#" target="_blank">Meet The Team</a></li>
            <li class="link"><a href="#" target="_blank">Support Center</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="copy" class="w-100 bg-dark">
    <div class="container">
      <div class="row text-light" style="display: grid">
          <span class="left">Copyright © 2018 gocodee.com </span>
          <span class="right text-right">Copyright © 2018 gocodee.com </span>
      </div>
    </div>
  </div> -->
</footer>