<div class="bg-rex d-flex text-center text-white">
  <div class="container container-1 my-auto">
    <div class="row">
      <div class="col-lg-12 mx-auto m-option">
        <h2 class="title">Broland</h2>
        <p>One page SaaS, Agency and Start up HTML Template</p>
        <ngb-rating [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 0">&#9733;</span>
          </ng-template>
        </ngb-rating>
        <p class="d-inline m-2">({{currentRate}} votes)</p>
        <div class="btn-item-detail">
          <div class="row">
            <div class="col-lg-12 mx-auto">
                <button class="btn btn-primary text-white text-uppercase title m-3 col-4"><span>live demo</span></button>
                <button class="btn btn-primary text-white text-uppercase title m-3 col-4"><span>download</span></button>
                <button class="btn btn-primary text-white text-uppercase title m-3 col-4"><span>documentation</span></button>
            </div>   
          </div>
        </div>
        <div class="col-lg-12">
          <img src="assets/images/product-pc.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="infor">
  <div class="container">
    <div class="row pt-4">
      <div class="col-lg-2 col-sm-12">
        <p class="title">Version</p>
        <p class="text-muted">{{itemInfor.version}}</p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <p class="title">Compatibility</p>
        <p class="text-muted">{{itemInfor.compatibility}}</p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <p class="title">Created</p>
        <p class="text-muted">{{itemInfor.created}}</p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <p class="title">Layout</p>
        <p class="text-muted">{{itemInfor.layout}}</p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <p class="title">Files Included </p>
        <p class="text-muted">{{itemInfor.included}}</p>
      </div>
      <div class="col-lg-2 col-sm-12">
        <p class="title">Compatible Browsers</p>
        <p class="text-muted">{{itemInfor.browsers}}</p>
      </div>
    </div>
  </div>
</div>

<div class="drop-devider"></div>

<div class="body-detail">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="image-holder">
          <img src="assets/images/details1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
        <h2 class="title">Retina Ready</h2>
        <p class="text-justify">The beating heart of ClearMotion is the Activalve, a software-centric,
          electro-hydraulic device that
          lives on every corner of the car, constantly monitoring, processing and responding to road conditions.
          Each Activalve consist of three highly advanced components working together at sub-millisecond
          timescales.

          When the Digital Controller detects a potential disturbance it only takes five milliseconds for the
          Activalve’s motor to counteract.</p>
      </div>
    </div>
  </div>

  <div class="drop-devider"></div>

  <div class="bg-gray pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-auto order-1 order-sm-0">
          <h2 class="title">Mobile First</h2>
          <p class="text-justify">The beating heart of ClearMotion is the Activalve, a software-centric,
            electro-hydraulic device that
            lives
            on every corner of the car, constantly monitoring, processing and responding to road conditions. Each
            Activalve consist of three highly advanced components working together at sub-millisecond timescales.

            When the Digital Controller detects a potential disturbance it only takes five milliseconds for the
            Activalve’s motor to counteract.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 order-0 order-sm-1">
          <div class="image-holder-2">
            <img src="assets/images/details2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="drop-devider"></div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="image-holder">
          <img src="assets/images/details1.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 my-auto">
        <h2 class="title">Retina Ready</h2>
        <p class="text-justify">The beating heart of ClearMotion is the Activalve, a software-centric,
          electro-hydraulic device that
          lives on every corner of the car, constantly monitoring, processing and responding to road conditions.
          Each Activalve consist of three highly advanced components working together at sub-millisecond
          timescales.

          When the Digital Controller detects a potential disturbance it only takes five milliseconds for the
          Activalve’s motor to counteract.</p>
      </div>
    </div>
  </div>

  <div class="drop-devider"></div>

  <div class="bg-gray pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-auto order-1 order-sm-0">
          <h2 class="title">Mobile First</h2>
          <p class="text-justify">The beating heart of ClearMotion is the Activalve, a software-centric,
            electro-hydraulic device that
            lives
            on every corner of the car, constantly monitoring, processing and responding to road conditions. Each
            Activalve consist of three highly advanced components working together at sub-millisecond timescales.

            When the Digital Controller detects a potential disturbance it only takes five milliseconds for the
            Activalve’s motor to counteract.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 order-0 order-sm-1">
          <div class="image-holder-2">
            <img src="assets/images/details2.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="drop-devider"></div>

<div class="row">
  <div class="about-head w-100">
    <div class="container w-100 h-100">
      <div class="row h-100">
        <div class="col-lg-12 my-auto">
          <div class="row">
            <div class="col-lg-12 p-0">
              <h5 class="col-lg-8 mx-auto text-center lean">147,570 Customers Are Already Building Amazing Websites
                With Us. Join The Most Empowered WordPress Community On The Web </h5>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <button class="btn btn-primary text-uppercase mx-auto bg-light font-weight-bold"><span>purchase now</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="drop-devider"></div>

<div class="relate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h2 class="title w-100 text-center">Related Themes</h2>
      </div>
    </div>
  </div>
  <div class="container tab-content">
    <div class="row">
      <app-item *ngFor="let item of filterItemsOfType(active)" [item]="item" class="col-sm-6 col-lg-6"></app-item>
    </div>
  </div>
</div>
