.content {
  padding-top: 10%;
  background-color: #f2f7fb;
  background-image: url("assets/images/t-bg.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 20%;
  // background-color: red;
}


.template-section {
  width: 100%;
  height: 90vh;

  p {
    color: white;
  }
}

.template-section-p {
  width: 120%;
  height: 85vh;
  background: transparent;

  .card {
    box-shadow: none !important;
  }

  .tons {
    color: blue;
    font-size: 11px;
    font-weight: bold;
  }

  .tons-title {
    font-size: 20px;
    font-weight: bold;
  }
}

.templates-1 {
  width: 90%;
  height: 270px;
  background: #FA4673;

  a {
    color: #FA4673;
  }
}

.templates-2 {
  width: 90%;
  height: 270px;
  background: #1F8DEE;

  a {
    color: #1F8DEE
  }
}

.templates-3 {
  width: 90%;
  height: 270px;
  background: #0FBCCA;

  a {
    color: #0FBCCA
  }
}

.templates-4 {
  width: 90%;
  height: 270px;
  background: #5457C2;

  a {
    color: #5457C2
  }
}

.templates-p {
  width: 90%;
  height: 270px;

  a {
    color: white;
  }
}

.icon-awesome {
  font-size: 40px;
  color: lavender;
  opacity: .7;
}

.text-op {
  font-size: 12px;
  text-align: center;
}

.text-config {
  font-size: 16px;
}

.t-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: 0px 35px;
  background: white;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 35px;
  font-weight: bold;
}

.p-button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  max-width: 300px;
  padding: 10px 30px;
  background: linear-gradient(to bottom right, #82A2F9 10%, #C499F5 90%);
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 35px;
  text-transform: uppercase;
}

// CSS Moblie

.mobile {
  .card {
    p {
      color: white;
    }
  }

  .p-button {
    span {
      color: white;
    }
  }
}
