<div class="content">

  <div class="row container">

    <div class="col-lg-8 row">
      <div class="col-lg-4 template-section row">
        <div class="templates-1 my-auto card">
          <div class="row pt-4">
            <i class="fab fa-vimeo-square mx-auto icon-awesome"></i>
          </div>
          <div class="row pt-2">
            <p class="mx-auto text-config">Visual Composer</p>
            <p class="px-4 text-op">It is a long established fact that a reader will be distracted. </p>

            <a class="t-button mx-auto">
              <span>Know More</span>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 template-section row">
        <div class="templates-2 my-auto card">
          <div class="row pt-4">
            <i class="fab fa-wordpress mx-auto icon-awesome"></i>
          </div>
          <div class="row pt-2">
              <p class="mx-auto text-config">Visual Composer</p>
              <p class="px-4 text-op">It is a long established fact that a reader will be distracted. </p>
  
              <a class="t-button mx-auto">
                <span>Know More</span>
              </a>
            </div>
        </div>
        <div class="templates-3 my-auto card">
          <div class="row pt-4">
            <i class="fab fa-wpressr mx-auto icon-awesome"></i>
          </div>
          <div class="row pt-2">
              <p class="mx-auto text-config">Visual Composer</p>
              <p class="px-4 text-op">It is a long established fact that a reader will be distracted. </p>
  
              <a class="t-button mx-auto">
                <span>Know More</span>
              </a>
            </div>
        </div>
      </div>

      <div class="col-lg-4 template-section row ">
        <div class="templates-4 my-auto card">
          <div class="row pt-4">
            <i class="fab fa-wolf-pack-battalion mx-auto icon-awesome"></i>
          </div>
          <div class="row pt-2">
              <p class="mx-auto text-config">Visual Composer</p>
              <p class="px-4 text-op">It is a long established fact that a reader will be distracted. </p>
  
              <a class="t-button mx-auto">
                <span>Know More</span>
              </a>
            </div>
        </div>
      </div>
    </div>


    <div class="col-lg-4">paragragh</div>

  </div>
</div>
