<div class="row">
  <div class="blog-detail-head w-100">
    <div class="container w-100 h-100">
      <div class="row h-100">
        <div class="col-lg-12 my-auto">
          <div class="row">
            <div class="col-lg-12 mt-4 p-0">
              <h3 class="text-center font-weight-bold mb-0 mt-4">Blog Posts</h3>
            </div>
            <div class="col-lg-12 p-0 mb-200">
              <p class="text-center title">Top 10 befinifits you are going to receive form crypteum landing </p>
            </div>

            <div class="col-lg-6 col-sm-12">
              <ul class="blog-option">
                <li class="d-inline mr-2">
                  <i class="far fa-dot-circle"></i>
                </li>
                <li class="cat-tm d-inline mr-2">
                  <a>Uncategorized</a>
                </li>
                <li class="d-inline mr-2">
                  <i class="far fa-dot-circle"></i>
                </li>
                <li class="cat-tm d-inline mr-2">
                  <a>By Admin</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-6 col-sm-12 blog-infor ">
              <ul class="blog-option">
                <li class="d-inline mr-2">
                  <i class="far fa-dot-circle"></i>
                </li>
                <li class="cat-tm d-inline mr-2">
                  <a>3 January, 2000</a>
                </li>
                <li class="d-inline mr-2">
                  <i class="far fa-dot-circle"></i>
                </li>
                <li class="cat-tm d-inline mr-2">
                  <a>1 Comment</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-detail-body container pt-4">
  <div class="row">
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-12">
          <h2 class="font-weight-bold">What is Lorem Ipsum?</h2>
          <p class="text-justify">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
            also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
      <div class="row pt-4">
        <div class="col-lg-12">
          <div class="row row-reverse">
            <div class="s-m">
              <div class="hv-1">
                <a><i class="fab fa-facebook-f"></i></a>
              </div>
              <div class="hv-2">
                <a><i class="fab fa-twitter"></i></a>
              </div>
              <div class="hv-3">
                <a><i class="fab fa-google-plus-g"></i></a>
              </div>
              <div class="hv-4">
                <a><i class="fab fa-youtube"></i></a>
              </div>
              <div class="hv-5">
                <a><i class="fab fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="comment col-lg-12">
          <h3 class="font-weight-bold">1 comment</h3>
        </div>
      </div>

    </div>
    <div class="col-lg-4">
      B
    </div>
  </div>
</div>
