<div class="w-100 row mx-0 mb-5 py-2" role="tablist">
  <div id="tab-titles" class="btn-group btn-group-justified mx-auto">
    <div class="mx-auto">
      <span (click)="active('')" class="btn btn-pill">All products</span>
      <span (click)="active('WorldPress')" class="btn btn-pill ">WorldPress</span>
      <span (click)="active('HTML Template')" class="btn btn-pill">HTML Templates</span>
      <span (click)="active('UI Design')" class="btn btn-pill">UI Design</span>
    </div>
  </div>
</div>

<div class="container tab-content">
  <div class="row">
    <download-card *ngFor="let item of filterItemsOfType(active)" [downloadCard]="item"  class="col-sm-6 col-lg-4"></download-card>
    <!-- <download-card [downloadCard]="card"></download-card> -->
  </div>
</div>
<div class="w-100 text-center">
    <div class="d-inline-block"><a href="#" class="btn btn-pill btn-browse">BROWSE FOR MORE PRODUCTS</a></div>
</div>