$colors: (
  light-font: white,
  dark-font: black,
  primary: white,
  active: linear-gradient(to bottom right, #82A2F9 10%, #C499F5 90%),
  link: skyblue
); 

@function color($type) {
  @return map-get($colors, $type);
}

.btn-pill {
  border-radius: 30px;
  height: 37px!important;
  background: color(primary);
  margin-left: 0px!important;
  margin-right: 3px;
  border: 1px solid #dddddd;
  // width: 100%;
  color: color(dark-font);
  &:last-child {
    margin-right: 0px;
  }
  &:active, &:focus {
    background: color(active)!important;
  }
}
.btn-active {
  background: color(active)!important;
  color: color(light-font);
  border: none;
}
.btn-browse {
  padding: 15px 40px;
}
.btn-group {
  padding: 15px 30px;
  box-shadow: 0px 0px 25.5px 4.5px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-left: 0px; 
  
  min-width: 353px;
}

@media (max-width: 572px) { 
  #tab-titles {
    width: 85%;
  }
  .btn-group {
    border-radius: 10px;
  }
}